@import "../less/global.css";

.ant-carousel .slick-slider {
  text-align: center;
  height: 300px;
  line-height: 300px;
  background: #364d79;
  overflow: hidden;
  
}
.slick-slider img {
  max-width: 100%;
}
.menu {
  position: relative;
  padding-left: calc(50% - 400px);
  border-bottom: 1px solid #e9e9e9;
}
.menu .ant-menu {
  width: 800px;
  border-bottom: none;
}