.home .logo {
  height: 32px;
  background: rgba(255,255,255,.2);
  margin: 16px;
}
.createArticle .create button {
  margin-right: 10px;
}
.createArticle .create button:focus {
  background-color:#1890ff;
  color:#fff;
}
.article-list {
  width: 100%;
  padding: 10px;
}
.article-list thead tr:first-child {
  background-color:#ccc;
}
.article-list tr td {
  padding: 10px;
}
.article-list .art-option span {
  display: inline-block;
  color:blue;
  margin-left: 5px;
  cursor: pointer;
}

.login {
  background:lightgreen;

}
.login .login-box {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin:0 auto;
  margin-top: 30%;
  
}
